# Dependencies
node_modules/
vendor/

# Environment
.env
.env.prod
.env.local
.env.*.local

# Build
frontend/dist/
backend/public/hot

# Laravel
backend/storage/*.key
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/*.php
backend/database/database.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
mysql_data/

# Logs
*.log
npm-debug.log*
